html, body {
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
  scroll-behavior: smooth;
}

section {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  min-height: auto;
  padding: 40px 20px;
  margin-bottom: 60px;
}

section:last-child {
  margin-bottom: 40px;
}